[Unit]
Description=Serial Console Splash
DefaultDependencies=no
Before=serial-getty@ttyS0.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/serial-splash.sh
RemainAfterExit=yes
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=sysinit.target
